.flex-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.flex-conteiner > div {
    width: 100;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 10;
    background-color: rgb(0, 135, 219);
}

#titulo {
    background-color: rgb(0, 99, 186);
}

button {
    background-color: brown;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}